@font-face {
    font-family: 'misobold';
    src: url('../font/miso-bold-webfont.woff2') format('woff2'),
         url('../font/miso-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/home/background.png');
    background-repeat: repeat;
    font-family: misobold;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ----------HEADER---------- */
header {
    background-color: #505050;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.name {
    font-size: 60px;
    color: white;
    margin-left: 5px;
}

.nav {
    font-size: 40px;
    color: white;
    margin-right: 55px;
}

.navElements > a {
    margin: 0 10px;
}

#githubLink {
    position: relative;
    width: 40px;
}

#github {
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 36px;
    width: 36px;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

/* ----------HOME Main Content---------- */
.mainContent {
    color: white;
}


.about {
    display: flex;
    flex-flow: column wrap;
}

.mainContent > div {
    margin-top: 80px;
    text-align: center;
}

.mainContent .top {
    margin-top: 5%;
}

.mainContent p {
    margin: 0;
    font-size: 110px;
}

.top, .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seePreview {
    font-size: 36px;
    color: white;
    text-align: center;
    margin: 10px 0;
}

.demoContent {
    max-width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.demoImage {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.demoImage:hover {
    cursor: pointer;
}

.github {
    height: 16px;
    width: 16px;
}

.skills {
    margin-top: 5px;
    height: 16%;
    width: max-content;
    margin: auto;
}

.skillsList {
    font-size: 36px;
    color: white;
}

.spacer {
    display: inline-block;  
    width: 50px;
}

ul {
    display: inline-block;
    margin: auto;
    width: auto;
}

.hidden {
    list-style: none;
}

.buttons {
    display: flex;
    justify-content: center;
    /* width: auto; */
    height: 100%;
    font-size: 28px;
}

.buttons a {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    margin: 0 10px;
    padding: 10px;
}

.buttons a:hover {
    background-color: #505050;
}

/* TESTING */

.rotating-border {
    position: fixed;
    width: 70%;
    background: radial-gradient(circle at center, white 0%, white 50%, transparent 50%), radial-gradient(circle at center, white 50%, transparent 50%), radial-gradient(circle at center, white 50%, transparent 50%), radial-gradient(circle at center, white 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 13px 13px, 13px 13px, 13px 13px, 13px 13px;
    padding: 10px;
    animation: border-dance 30s infinite linear;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
  }
  
@keyframes border-dance {
    0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    }
    100% {
        background-position: 100% 0, 0 100%, 0 0, 100% 100%;
    }
}

.star {
    background: #F37414;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.one {
    position: absolute;
    top: -17px;
    left: -17px;
}

.two {
    position: absolute;
    top: -17px;
    right: -17px;
}

.three {
    position: absolute;
    bottom: -17px;
    left: -17px;
}

.four {
    position: absolute;
    bottom: -17px;
    right: -17px;
}

.resume {
    margin-top: 25px;
}

.resume p{
    font-size: 50px;
    margin: 1%;
}

.linkSpan {
    animation: glow 2500ms linear infinite;
}
  
button {
    outline: none;
}


video {
    height: 100%;
    max-width: 100%;
    z-index: 100;
}

/* The Modal (background) */
.modalMenu {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    height: auto;
  }
  
  .modalLinks {
      margin: 20px 40px;
      font-size: 48px;

  }

@keyframes glow {
    40% {
        text-shadow: 0 0 8px #fff;
    }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 77vh;
  position: relative;
  margin: auto;
  width: max-content;
}

/* Hide the images by default */
.mySlides {
    display: none;
    width: max-content;
    max-width: 100%;
    height: 77vh;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid black;
    font-size: .3em;
    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    transition: transform 1s;
    background-color: rgba(80,80,80,.2);
    border-radius: 10px;
    padding: 5px 5px 0 5px;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -36px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
  user-select: none;
  z-index: 1000;
}

.prev {
    left: -29px;
}
/* Position the "next button" to the right */
.next {
  right: -29px;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -40%;
  width: 80%;
  background-color: rgba(70, 70, 70, 0.6);
  text-align: center;
  pointer-events: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 1465px) {

    .mainContent p {
        font-size: 80px;
    }

    .resume>p {
        font-size: 40px;
    }

}

@media only screen and (max-width: 980px) {

    .nav {
        font-size: 2em;
    }

}

@media only screen and (max-width: 850px) {

    .top, .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .seePreview {
        font-size: 28px;
    }

    .prev {
        left: 0;
        border-radius: 0 3px 3px 0;
    }
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

}

@media only screen and (max-width: 720px) {

    .mainContent p {
        font-size: 60px;
    }

    .resume>p {
        font-size: 30px;
    }

}

@media only screen and (max-width: 690px) {

    .nav {
        display: none;
    }

}

@media only screen and (max-width: 500px) {

    .mainContent p {
        font-size: 55px;
    }

    .resume>p {
        font-size: 25px;
    }

    .name {
        font-size: 50px;    
    }

    video {
        max-width: 100%;
        height: auto;
    }

    .text {
        top: 15%;
        font-size: 40px;
    }

    .skillsList {
        font-size: 40px;
    }

    .skills {
        margin-top: 13%;
        height: 25%;
    }

    .mySlides {
        max-width: 95%;
    }

    .demoContent {
        max-width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
    }

    #teslaLiveLink {
        visibility: hidden;
    }

    .buttons a {
        height: max-content;
    }

    #teslaLiveLink:after {
        content: 'Desktop Only';
        pointer-events: none;
        visibility: visible;
        position: relative;
        top: -40px;
        display: block;
        border: 2px solid lightgrey;
        background-color: lightgrey;
        border-radius: 5px;
        color: black;
        padding: 10px;
    }

}

.hamburger {
    z-index: 100;
    padding: 15px 15px;
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: white;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-right: 15px;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: black; }
  
  .hamburger-box {
    width: 30px;
    height: 16px;
    display: none;
    position: relative; }
  
  .hamburger-inner {
    display: none;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: white;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }

/*
   * Elastic
   */
   .hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .hamburger--elastic .hamburger-inner::before {
      top: 10px;
      transition: opacity 0.125s 0.275s ease; }
    .hamburger--elastic .hamburger-inner::after {
      top: 20px;
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  
  .hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s; }
    .hamburger--elastic.is-active .hamburger-inner::before {
      transition-delay: 0s;
      opacity: 0; }
    .hamburger--elastic.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(-270deg);
      transition-delay: 0.075s; }

      @media only screen and (max-width: 690px) {

        .hamburger {
            display: inline-block;
        }
      
        .hamburger-box {
          display: inline-block;
        }
      
        .hamburger-inner {
          display: block;
        }
      
      }
